/* Contenedor principal del chatbot */
.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #1B1E22;
    color: white;
    overflow: hidden;
    position: relative;
}

/* Header fijo */
.header {
    width: 100%;
    height: 60px;
    background-color: #1b1e22;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 20;
}

/* Sidebar Toggle Container con Título */
.sidebar-toggle-container {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
}

.sidebar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.7em;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

/* Estilo del texto "AURA Chat" */
.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin-right: 4px;
}

.chat {
    color: white;
    font-weight: normal;
    margin-left: 4px;
}

.aura {
    color: #3a84f7;
    font-weight: bold;
}
/* Desplazamiento del contenido del chat */
.chat-content.shifted-right {
    transform: translateX(65px); /* Ajusta el valor según el ancho de la sidebar */
    transition: transform 0.3s ease;
}

.chat-content.centered {
    transform: translateX(0);
    transition: transform 0.3s ease;
}
/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #14171a; /* Más oscuro que el fondo principal */
    color: white;
    padding: 20px;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transform: translateX(-100%); /* Oculto inicialmente */
    transition: transform 0.3s ease;
    z-index: 10;
}

/* Sidebar abierto */
.sidebar-open {
    transform: translateX(0); /* Deslizar hacia adentro cuando está abierto */
}

/* Sidebar cerrado */
.sidebar-closed {
    transform: translateX(-100%); /* Deslizar hacia afuera cuando está cerrado */
}

.sidebar h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Botón nuevo de conversación con animación */
.new-conversation {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #3a84f7;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.new-conversation svg {
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.new-conversation:hover {
    color: #5aa4ff;
    transform: scale(1.05);
}

.new-conversation:hover svg {
    transform: rotate(20deg);
}

/* Conversación lista y nombres */
.conversation-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.conversation-name {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    background-color: #353b44;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversation-name:hover {
    background-color: #3a84f7;
}

/* Contenedor principal del contenido del chat */
.chat-content {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 60px; /* Para que empiece después del header */
    display: flex;
    flex-direction: column;
}

/* Vista inicial */
.initial-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.welcome-text {
    font-size: 1.5em;
    color: #FFFFFF;
    margin-top: 10px;
    line-height: 1.4;
    white-space: pre-wrap;
}

.aura-text {
    color: #3a84f7;
    font-weight: bold;
}

/* Vista de chat */
.chat-view {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 90px;
}
/* Estilo para los mensajes */
.message-content {
    text-align: justify; /* Texto justificado */
    line-height: 1.6;
    font-size: 1em;
    white-space: pre-line;
}
.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 700px;
    margin-top: 20px; /* Margen superior agregado */
    
}
.message:last-child {
    margin-bottom: 40px; /* Espacio adicional para el último mensaje */
}
.message {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #3a84f7;
    color: white;
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 60%;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.bot-message {
    align-self: flex-start;
    color: white;
    margin-left: 10px;
}

.bot-avatar-large {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .bot-avatar-small {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
  }

/* Contenedor de entrada */
.input-container {
    display: flex;
    align-items: center;
    background-color: #2D323A;
    border-radius: 25px;
    padding: 8px;
    max-width: 650px;
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    padding-right: 20px;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #353b44;
    color: white;
    font-size: 1em;
    border-radius: 20px;
    margin-right: 10px;
}

/* Placeholder Style */
.message-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.send-button,
.mic-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.send-button {
    order: 1;
}

.mic-button {
    order: 2;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.mic-button:hover {
    background-color: #3a84f7;
    transform: scale(1.1);
}

/* Estilos fijos para el contenedor de entrada en vista de chat */
.chat-view .input-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.typing-indicator {
    font-style: italic;
    color: #888;
  }
  
  .dots {
    display: inline-block;
  }
  
  .dots::after {
    content: '';
    display: inline-block;
    animation: dots 1.5s steps(3, end) infinite;
  }
  .scroll-to-bottom {
    position: fixed;
    bottom: 100px; /* Ajusta la altura para que esté encima del cuadro de entrada */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(27, 30, 34, 0.8); /* Color #1b1e22 con transparencia */
    border: none;
    color: white;
    font-size: 1.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .scroll-to-bottom:hover {
    background-color: rgba(27, 30, 34, 1); /* Color #1b1e22 sin transparencia al hacer hover */
    transform: translateX(-50%) scale(1.1); /* Efecto de zoom al hacer hover */
  }
  
  .sidebar {
    padding-right: 10px; /* Espacio adicional en el lado derecho */
}
  /* Estilo para el fondo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #1b1e22; /* Color de fondo de la barra */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #353b44; /* Color azul para el scroll */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4b5059; /* Color más claro cuando está en hover */
  }

  
  
  @keyframes dots {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
  }
  